body {
    width: 980px;
    margin: auto;
    background: white;
}

/* content text */
p1{
	font-size: 16px;
	font-family: sans-serif;
	color: black;
	text-align: left;
}


/* Footer text */
p2{
	font-size: 15px;
	font-family: sans-serif;
	color: white;
}

h1{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	color: black;
	padding-bottom: 30px;
}

h2{
	text-align: left;
	font-size: 20px;
	font-family: sans-serif;
	color: black;
	padding-left: 20px;
}

/* header/footer */
.header {
    background-color: #333; /*linear-gradient(to bottom, black 0%,black 50%,#000000 50%,white 50%,white 100%); https://css-tricks.com/forums/topic/css-background-with-2-colors/*/
    font-size: 20px;
    font-family: sans-serif;
    width: page;
    text-align: left;
    padding-bottom: 25px;
}

/* Navigation bar */
.topnav {
    overflow: hidden;
}
  
.topnav a {
    text-align: left;
    padding-left: 14px;
	color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}
  
.topnav a:hover {
    color: #c13286;
}

/* Footer */
.footer{
    bottom: 0;
    width: page;
    padding: 10px;
    margin: auto;
    background-color: #333;
    text-align: center;
}


/* HomePage */
.row2 {
  	display: -ms-flexbox; /* IE10 */
  	display: flex;
  	-ms-flex-wrap: wrap; /* IE10 */
  	flex-wrap: wrap;
  	padding-bottom: 20px;
}

.column2 {
  	-ms-flex: 50%; /* IE10 */
  	flex: 50%;
  	max-width: 50%;
  	padding: 0 0px;
}

/* TablePage */
table {
  font-family: sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

td{
	border: 1px solid #ddd;
  	text-align: center;
  	padding: 10px;
}

th {
  	text-align: center;
    border: 1px solid #ddd;
    background-color: grey;
    padding: 10px;
}

tr:nth-child(even) {
  	background-color: #e0e1e2;
	border: 1px solid #ddd;
}

/* PicturePage */
.grid-container {
  	display: grid;
  	grid-template-columns: auto auto auto;
  	padding: 10px;
	grid-gap: 2ch;
	grid-row-gap: 2ch;
}

.grid-item {
  	background-color: white;
  	border: 1px solid #333;
  	padding: 20px;
  	font-size: 14px;
  	font-family: sans-serif;
 	text-align: center;
}
