body {
    width: 100%;
    max-width: 980px;
    background-color: #fff;
    font-family: sans-serif;
    margin: auto;
    /**border: 20px solid #aaa;**/
}

/**.main {
    background-color: #fff;
}**/

h1 {
    text-align: center;
}

/**NAVIGATION**/
.nav {
    display: inline-flex;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

ul {
    background-color: black;
    padding: 15px;
    margin-top: -1px;
}

/**ASIDE**/
.container {
    display: grid;
    grid-template-columns: 70% 30%;
}

.c1 {
    grid-column: auto;
    padding: 10px;
}

.c2 {
    grid-column: auto;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #eee;
}

img {
    display: block;
    width: 100%;
}

/**TABLE**/
table {
    border-collapse: collapse;
}

th {
    background-color: #aaa;
    border: 1px solid gray;
    padding: 10px;
}

table, td {
    border: 1px solid black;
    text-align: center;
}

.pad {
    padding: 90px;
}

.table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    background-color: #eee;
}

/**GRID**/
main {
  display: grid;
  grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.bord {
    padding: 50px;
    border: 1px solid black;
    border-collapse: collapse;
}
img {
    display: block;
    width: 100%;
}
.caption {
    margin: 5px;
    text-align: center;
    font-style: italic;
}

footer {
    background-color: black;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-top: 25px;
}