body {
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #eee;
}

h1 {
    margin: 2.4rem;
    margin-top: 0.5rem;
    font-size: 2rem;
}

nav {
    display: flex;
    align-content: flex-start;
    margin: 0;
    background-color: #333;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0 auto;
}

header > img {
    width: 100%;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 12px 18px;
    transition: background-color 0.4s ease-out; 
}

a:hover{
    background-color: #4e4e4e;
}

aside {
    border: 1px solid #aaa;
    background-color: #eee;
}

aside > img {
    width: 100%;
}

footer {
    background-color: #333;
    text-align: center;
    color: #fff;
}

footer > p {
    padding: 2rem; 
    margin: 0 auto; 
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table img {
    width: 50%;
}

tr {
    background-color: #f6f6f6;
}

tr:nth-child(odd) {
    background-color: #fff;
}

th {
    padding: 0.4rem;
    border: 1px solid #aaa;
    background-color: #bbb;
    text-emphasis: bold;
}

td {
    border: 1px solid #aaa;
    padding: 8px;
}

td:last-child {
    width: 65%;
}

section.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.pictures > p {
    text-align: center;
    border: 1px solid #aaa;
    padding: 40px;
    text-emphasis: italic;
    margin: 0 auto;
}

.pictures img {
    width: 100%
}

.article {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

.article > article {
    grid-column: 1 / 5;
}

.article > aside {
    grid-column: 5 / 7;
    padding: 16px;
}

.container {
    max-width: 980px;
    align-content: center;
    position: relative;
    width: 100%;
    margin: 0px auto;
    padding: 0px 0px;
    box-sizing: border-box;
}

.container > h1 {
    text-align: center;
}
